* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav .fas {
    display: none;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: #f6e3e3; */
    background-color: #1d3557;
    width: 100%;
    color: black;
    padding: 20px 0;

}

.logo1 img {
    height: 70px;
    width: 300px;
    margin-left: 30px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 30px;
}

.nav-list li {
    position: relative;
    margin-left: 20px;
}
.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    color: green;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #181111;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 15px;

}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    display: block;
    text-decoration: underline;
}

.dropdown-menu a {
    padding: 10px;
    color: gray;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.btn1 {
    background: rgb(165, 216, 89);
    border-radius: 10px;
    border: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
}

.btn1:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.Box {
    display: flex;
    margin-top: 1%;
    /* background-image: url(/images/background.png); */
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    width: 98%;
    /* height: 80vh; */
    border-radius: 10px;
    align-items: center;
    background-color: #1d3557;

}

.contentContainer {

    width: 45%;
}

.Box img {
    border-radius: 15px;
    margin: 15px;
    width: 45%;
    height: 40vh;


}

.contentContainer div {
    margin-top: 30px;
}

.contentContainer h1 {
    /* font-size: 50px; */
    color: white;
    font-weight: bolder;
}

.contentContainer p {
    color: white;
    /* font-size: 20px; */

}

.bgBtn {
    padding: 10px;
    background: transparent;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    text-decoration: none;
}

.startBtn {
    padding: 10px 20px;
    background: rgb(165, 216, 89);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: black;
}

.startBtn:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.works {
    display: flex;
    background: rgb(230, 228, 226);
    /* background-color: #184fc2; */

    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    animation: my-animation 1s ease infinite;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}

.row1:hover {
    background-color: #457b9d;
}

.mainContent {
    margin-left: 5%;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    width: 100%;
}

.col1 {
    /* background: red; */
    width: 40%;

}

.row1 {
    display: flex;
    height: 200px;
    /* width: 500px; */
    background: white;
    margin: 10px;
    border-radius: 10px;
    text-align: center;

}

.col2 {
    max-width: 700px;
    margin-top: 120px;
}

.left {
    float: left;
    height: 40px;
    width: 100%;
    padding: auto;
    margin: 30px;
}

.right {
    padding: auto;
    width: 100%;
    float: right;
    text-align: center;
    align-items: center;
}

.col2 img {
    border-radius: 100%;
    height: 80px;
    margin-left: 10px;
}

.text {
    display: flex;
    /* position: relative; */
    text-align: center;
    align-items: center;
    /* padding: 10px; */

}

.col2 p {
    display: flex;
    padding: 20px;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.left .text {
    float: right;

}

.expertBox {
    /* background-color: #457b9d; */
    display: flex;
    margin-top: 40px;
    /* height: 70vh; */
    width: 100%;
    padding: 30px;
    background-color: #09274e;


}

.column1 {
    width: 50%;
    /* background-color:#1d3557; */
    margin-top: 10%;


}

.column2 {
    width: 50%;
    transition: 0.5s;


}

.exBox:hover {
    background: green;
    transition: 0.5s;
}

.expImg1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.expImg2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column1 img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.column2 .exBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 17vh;
    border-radius: 15px;


    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 20px;

}

.chatBtn {
    background: rgb(165, 216, 89);
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
    padding: 12px 30px;
}

.chatBtn:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.container2 {
    /* background: #f1faee; */
    padding-bottom: 100px;

}

.goto {
    text-align: center;
    margin-top: -100px;

}

.ExpertSquad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.item {
    display: flex;
}

.right1,
.left1 {
    border-left: 2px solid orange;
    border-top: 2px solid orange;
}


.mid-item .mid1 {
    border-radius: 10px;

    background: rgb(233, 230, 230);
    border: 1px solid rgb(235, 188, 188);
    margin: 20px 10px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px 15px;

}

.mid-item {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mid-item .mid2 {
    background: rgb(233, 230, 230);
    color: rgb(10, 7, 7);
    margin: 20px 10px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid rgb(235, 188, 188);
}

.left-item .left1 {
    background: white;
    margin: 70px 10px;
    width: 270px;
    height: 250px;
    border-radius: 10px;
}

.right-item .right1 {
    background: white;
    float: end;
    margin: 70px 10px;
    width: 270px;
    height: 250px;
    border-radius: 10px;

}

.item img {
    height: 250px;
    border-radius: 10px;
    margin: 8px;
}

.goto-btn {
    background: rgb(165, 216, 89);
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.goto :hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.answerBox {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    /* background: whitesmoke; */
    color: whitesmoke;
    background-color: #1d3557;
    margin: auto;


}

.ansB {
    width: 33%px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 1%;

}

.ansB p {

    padding: 4px 4px;
}

.ansB img {
    height: 50px;
    width: 50px;
}

.ansB1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.ansB2 {
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.ansB2 h1 {
    font-size: 50px;
}

.ansB2 button {
    background: rgb(165, 216, 89);
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.ansB2 button:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

/* **************faq designing******** */

.faq-main {
    background: white;

}

.faq-container {
    width: 95%;
    max-height: 100%;
    margin: 0 20px;
    padding-bottom: 20px;

}

.faq-heading {
    font-size: 25px;
    padding: 10px;
}

.faq-item {
    border-bottom: 3px solid #ddd;
    margin-bottom: 40px;
    margin-top: 20px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    top: 0;
    /* background-color: #f9f9f9; */
    border-radius: 5px;
}

.faq-question {
    font-weight: bold;
    font-size: 30px;
}

.faq-toggle {
    transition: transform 0.5s ease;
    background: rgb(165, 216, 89);
    padding: 10px 15px;
    border-radius: 14px;
}

.faq-content {
    display: none;
    padding: 10px;
    background-color: #f5f0f0;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.faq-content.show {
    display: block;
}

.faq-footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.faq-footer button {
    background: rgb(165, 216, 89);
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}

.faq-footer button:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.main-container3 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
}

.container3 {
    display: flex;
    background-image: url(/images/email.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.container-content {
    display: flex;
    width: 80%;
    height: 60%;
    background: linear-gradient(rgba(6, 6, 6, 0.6), #1c5397);
    border-radius: 10px;
    border: 1px solid orange;
    justify-content: center;
    text-align: center;
    color: white;
}

.main-text p {
    margin: 40px;
}

.main-text h1 {
    font-size: 60px;
}

.footer1 {
    display: flex;
    justify-content: space-between;


}

.footer1 a {
    text-decoration: none;
    color: grey;
    margin: 2px;
    margin-top: 10px;
}

.footer1 a:hover {
    color: orange;

}

.footer2 {
    display: flex;
    justify-content: space-between;

}


/* ***************about section design*********** */
main {
    background: white;
}

.BoxA {
    height: auto;
    background: white;
    padding: auto;
}

.heading1 {
    display: flex;
    font-size: 25px;
    justify-content: center;

}

.BoxA1 {
    display: flex;
    /* background: red; */
    justify-content: space-evenly;
    margin: 50px;
}

.BoxA1 ul {
    margin-top: 200px;
}

.Box-Img img {
    margin-left: 80px;
}

.imgB2 img {
    height: 400px;
    width: 350px;
    margin-bottom: 40px;
}

.BoxC {
    margin: 30px;
}

.BoxC i {
    display: flex;
    background: rgb(150, 220, 45);
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 15px;
}

.BoxC1 {
    display: flex;
    margin: 20px;
}

.boxC-text {

    margin: 10px;
    width: 33%;
    align-items: center;
    padding: 10px;
}

.boxC-text img {
    background: rgb(165, 216, 89);
    padding: 2px;
    border-radius: 10px;
}

.BoxD {
    display: flex;
    background-color: #f6e3e3;
    width: 100%;
    height: 30vh;
    padding: 20px;
    justify-content: space-around;
}

.Box-Img img {
    margin-left: 10px;
}

.BoxD-text div {
    margin: 30px 0px;

}

.BoxD-text a {
    text-decoration: none;
    color: black;
}

.BoxD-text a:hover {
    cursor: pointer;
    color: rgb(143, 146, 137);
}

.About-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.About-bg img {
    width: 98%;
    height: auto;
    margin: 1%;
    border-radius: 10px;
}

.About-Experts {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
}

.About-Experts h1 {
    font-size: 50px;
    padding: 10px;
}

.About-Experts p {
    font-size: 18px;
}

.benifits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.b-heading {
    text-align: center;
    font-size: 25px;
}

.b-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 90%;
    width: 70%;
    background: rgb(14, 12, 29);
    border-radius: 15px;

}

.a-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    color: white;
    border-radius: 15px;
}

.a-container img {
    border-radius: 15px;
}

.text-b {
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
}

.b-content {
    margin: 100px 20px;
}

.b-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;

}

.list span {
    background: rgb(24, 4, 42);
    padding: 20px 20px;
    border-radius: 100%;
    color: white;

}

.list p {
    margin-top: 40px;
}

.our-expert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 40px;
    padding: 20px;
}

.box1 {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 20px 30px;
}

.box1 h1 {
    font-size: 50px;
}

.box1 img {
    margin-top: 25px;
    margin-bottom: -10px;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 15px;
    background: rgb(108, 161, 29);

}

/* contact page design  */


.m-container4 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
}

.container4 {
    display: flex;
    background-image: url(/images/help.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.c-content {
    display: flex;
    width: 80%;
    height: 60%;
    background: linear-gradient(rgba(6, 6, 6, 0.6), #1c5397);
    border-radius: 10px;
    border: 1px solid orange;
    justify-content: center;
    text-align: center;
    color: white;
}

.m-text p {
    margin: 40px;
}

.m-text h1 {
    font-size: 60px;
}

/* ********contact form design************** */
.contact-form {
    background: white;
    margin-top: 0px;
}

.c-heading h1 {
    font-size: 50px;
    text-align: center;
}

.contact-deatils {
    display: flex;
    background: white;
    height: auto;
}

.contact-left {
    width: 45%;
    font-weight: bold;
}

.contact-right {

    width: 50%;
}

.contact-l1 {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    height: 45%;
    margin: 20px 5%;
    background-color: #f6e3e3;

}

.contact-l1 .head-t {
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgb(167, 203, 112);
}

.contact-text {
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form input,
textarea {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 5px;
}

.form textarea {
    height: 80px;
    max-height: 160px;
    width: 100%;
}

.form button {
    /* float: left; */
    margin-top: 20px;
    width: 100px;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    background: rgb(167, 203, 112);
}

.form label {
    margin-top: 20px;
}

.form-text {
    margin: 20px;
}

.m-text button {
    margin-top: 20px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: rgb(167, 203, 112);
}

.m-text button:hover {

    background: rgb(108, 161, 29);
    transition: 0.5s;
}

/* disign for help section */

.help {
    width: 50%;
    font-weight: bold;
    height: 35vh;
}

.help button {
    background: rgb(165, 216, 89);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}

.help button:hover {
    background: rgb(108, 161, 29);
    transition: 0.5s;
}

.help h1 {
    font-size: 50px;
}

.help-faq {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

.help-scroll {
    width: 20%;
    justify-content: space-between;
    margin-top: 10%;
    float: left;
    height: 300px;
    font-size: large;
    font-weight: bold;
    margin-left: 40px;
}

.help-scroll p {
    margin-left: 20px;
    border-bottom: 2px solid rgb(219, 198, 198);
}

.help-scroll p:hover {
    color: grey;
}

.help-faq-section {
    width: 68%;
}

.faq-content p button {
    background: rgb(165, 216, 89);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}

.faq-symbol {
    font-weight: bold;
    transition: transform 0.5s ease;
    background: rgb(165, 216, 89);
    padding: 10px 15px;
    border-radius: 14px;
}

.faq-toggle {
    background: transparent;
    border: 2px solid black;
    border-radius: 100%;
}

.pol-text {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    /* justify-content: center;  */
}

.social-icon {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 30px;

}

.social-icon a {
    text-decoration: none;
    margin: 20px;
}

@media screen and (min-width: 1440px) {
    .Alldiv {
        max-width: 1440px;
        margin: 88px auto;
    }
}

@media (max-width: 500px) {
    .pol-text {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: small;
    }

    .Box {
        flex-direction: column-reverse;
        /* height: auto; */
    }

    .Box img {
        width: 350px;
        height: 400px;
        /* margin-top: 130px; */
    }

  

    /* .textContent {
        font-size: small;
    } */

    .contentContainer div {
        display: block;
    }

    .startBtn {
        margin-bottom: 120px;
        margin-left: 30px;
    }

    .container2 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .ExpertSquad {
        margin-top: -130px;
    }

    .logo1 {
        margin-right: 80px;
    }

    .goto-btn {
        margin-top: 10px;
        font-size: x-small;
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: 10px;
}

.social-icons a {
    font-size: 30px;
    /* float: left; */
    color: white;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
}


@media screen and (max-width: 1019px) {
    body {
        box-sizing: border-box;
        width: 100vw;
        overflow-x: hidden;
    }

    nav .fas {
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: #f6e3e3;
        position: fixed;
        top: 0;
        right: -30px;
        top: -1000px;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: top 0.5s;
        text-align: center;
    }

    nav .btn1 {

        width: 100px;
        margin-left: 35%;
    }

    nav ul li {
        display: flex;
        margin-top: 80px;
        margin-left: 30px;
        padding: 0px 10px;
        height: 50px;
        font-weight: bold;
    }


    .dropdown-menu {
        margin: 0 90px;
        /* display: flex; */
        height: 120px;
        width: 200px;
        padding-bottom: 100px;
        background: transparent;
    }

    .dropdown-menu li a {
        display: flex;
        width: auto;
        text-decoration: underline;
        font-weight: 100;
        list-style: disc;
        color: #000;

    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        margin-left: 20px;
    }


    .works {
        display: none;
    }

    .Box {
        display: flex;
        /* flex-direction: column; */
        /* height: 60vh; */
    }

    .bg-imaze img {
        width: 98%;
    }

    .bgBtn {
        padding: 10px 10px;
    }

    .contentContainer div {
        justify-content: space-between;
        margin-top: 30px;
    }


    .contentContainer {
        display: flex;

        align-items: flex-start;
        flex-direction: column;
        width: auto;
    }

    .bg-imaze {
        width: 40%;
    }

    .textContent {
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        margin-left: 30px;
    }

    .textContent h1 {
        font-size: 22px;
    }



    .container2 {
        padding: 0;
        /* padding-top: 100px; */
    }

    .goto-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .item,
    .mid-item,
    .left-item {
        display: flex;
        flex-direction: column-reverse;
    }

    .left1,
    .right1 {
        background: #000;
    }

    .expertBox {
        display: flex;
        flex-direction: column;
    }

    .column2 {
        width: 100%;
    }

    .answerBox {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .ansB {

        margin: -30px;
    }

    .ansB1 {
        width: auto;
        align-items: center;
    }

    .column1 {
        width: 100%;
    }

    .exBox {
        margin: 20px;
    }

    .ExpertSquad {
        padding-top: 100px;
    }

    .right-item .right1 {
        margin: 10px 30px;
    }

    .left-item .left1 {
        margin: 10px 30px;
    }

    .goto {
        margin-top: 0;
    }

    .main-text h1 {
        font-size: 35px;
    }

    .main-container3 {
        height: auto;
        padding: 10px;
    }

    .footer img {
        height: 40px;
        width: 40px;
    }

    .footer {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    }

    .footer1 img {
        margin-top: 100px;
    }

    .footer-text div {
        display: flex;
        align-items: center;

        flex-direction: column;
    }

    .footer-text p {
        justify-content: center;
        text-align: center;
    }

    .BoxA1 {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .BoxA1 ul {
        margin-top: 50px;
    }

    .BoxA {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .BoxText {
        padding: 0;
        margin: 0;
        width: auto;
    }

    .BoxA1 img {
        margin: 20px 0px;
        height: auto;
    }

    .heading1 {
        font-size: 16px;

    }

    .BoxC1 {
        flex-direction: column;

        width: 100%;
    }

    .boxC-text {
        width: 100%;
        font-size: 16px;
    }

    .About-bg img {
        width: 98%;
        height: auto;
        margin: 1%;
        border-radius: 10px;
    }

    .About-Experts {
        height: auto;
        text-align: center;
        margin-bottom: 30px;

    }

    .About-Experts h1,
    .b-heading h1 {

        font-size: 25px;
        font-weight: bold;
    }

    .About-Experts p,
    .BoxD-text {
        font-size: 14px;
    }

    .a-bg {
        height: auto;
    }

    .b-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .b-content {
        display: block;
        flex-direction: row;
        margin: 10px 10px;
    }

    .b-content h2,
    p {
        margin: 0;
        padding: 0;
    }

    .b-content p {
        margin-left: 10px;
        /* text-align: center; */

    }

    .text-b {

        padding-bottom: 0%;
        width: 100%;
    }

    .b-content h2 {
        font-size: 19px;

    }

    .list div {
        font-size: 14px;
        width: 100%;
    }

    .box1 {
        text-align: center;
        font-size: medium;
        width: 100%;

    }

    .box1 h1 {
        font-size: 35px;
    }

    .contact-deatils {
        display: block;
        width: 100%;
        height: auto;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    .container3,
    .container4 {
        height: 60vh;
    }

    .main-container3,
    .m-container4 {
        height: auto;
    }

    .container-content,
    .c-content {
        height: auto;
        width: 100%;
    }

    .faq-question {
        font-weight: bold;
        font-size: 20px;
    }

    .faq-heading {
        font-size: 16px;

    }

    .faq-toggle {

        padding: 5px 10px;

    }

    .help {

        width: 100%;
    }

    .help-faq-section {
        width: 100%;
    }

    .help-scroll {
        display: none;

    }

}

@media screen and (min-width:1020px) and (max-width:1220px) {
    body {
        max-width: 100%;
        box-sizing: border-box;
    }

    .works {
        display: none;
    }

    .help {
        height: 20vh;
    }

    .help p {
        font-weight: 200;
    }

    .faq-question {
        font-size: large;
    }

    .faq-heading h1 {
        font-size: 25px;
    }

    .contact-deatils {
        height: auto;
    }

    .col1 {
        width: auto;
    }

    .mid-item .mid1 {

        width: 200px;
    }

    .mid-item .mid2 {

        width: 200px;
    }

}